# 로그/결과/시각화
logs/
results/
figures/
analysis_results/
analysis_results.zip
distribution_analysis.csv

# data 내부 결과물만 제외
data/archive/
data/analysis_results/
data/logs/
data/results/
data/figures/
data/*.zip
data/*.csv

# 환경변수
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# 시스템
.DS_Store
.vscode/